<%= render :partial => "welcome/container_header",:locals => {:nazev => ''} -%>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="/pictures/uvodni_fotka.jpg" alt="">
    </div>
    <div class="col-md-6">
        <h2>O penzionu</h2>
            <p>Penzion, skládající se ze čtyř apartmánů různých velikostí, se nachází v blízkosti obce Dolní Moravice v malebném prostředí Jeseníků u Skiareálu Avalanche.</p>
            <p>V blízkém okolí penzionu je mnoho možností turistického a sportovního vyžití nejen v létě ale i v zimě: lyžování, běžecké trasy, cykloturistika, pěší turistika, geocaching a jiné.
            </p>
            <p>K ubytování je možnost také objednat stravovací služby firmy Krabky.cz. Přivezeme vám celodenní krabičkovou stravu po dobu ubytování za velmi výhodné ceny. Minimální objednávka je 4 osoby na 2 dny. Pro individuální poptávku nás neváhejte kontaktovat na tel. 725 814 617 nebo <a href="http://www.krabky.cz/">www.krabky.cz.</a></p>
    </div>
</div>
<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Možnost pronájmu apartmánů:</h2>
            </div>
            <%= link_to room_path(2) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                       <img class="img-responsive" src="/pictures/110.JPG" alt="">
                        <div class="caption">
                            <h3>Apartmán 110</h3>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to room_path(1) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <img class="img-responsive" src="/pictures/109.JPG" alt="">
                        <div class="caption">
                            <h3>Apartmán 109</h3>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to room_path(5) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                       <img class="img-responsive" src="/pictures/spodni.JPG" alt="">
                        <div class="caption">
                            <h3>Spodní patro (109 + 110)</h3>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to room_path(3) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <img class="img-responsive" src="/pictures/111.JPG" alt="">
                        <div class="caption">
                            <h3>Apartmán 111</h3>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to room_path(4) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <img class="img-responsive" src="/pictures/112.JPG" alt="">
                        <div class="caption">
                            <h3>Apartmán 112</h3>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to room_path(6) do %>
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                     	<img class="img-responsive" src="/pictures/cely.JPG" alt="">
                        <div class="caption">
                            <h3>Celý penzion</h3>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
