<%= render :partial => "welcome/container_header",:locals => {:nazev => 'Ceník'} -%>
<div class="alert alert-info" role="alert">
  <strong>Akční ceny se v kalkulačce nezobrazují!!</strong>
</div>
  <table  class="table table-bordered">
    <thead>
      <tr>
        <th> Typ Apartmánu </th>
        <th> Cena za den při objednávce 1 - 2 dní</th>
        <th> Cena za den při objednávce 3 - 5 dní</th>
        <th> Cena za den při objednávce 6 a více dní</th>
        <th> Cena za den při objednávce 1 - 5 dní do 3 osob</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apartmán 109</td>
        <td>2000 Kč </td>
        <td>1800 Kč </td>
        <td>1600 Kč </td>
        <td>1700 Kč </td>
      </tr>
      <tr>
        <td>Apartmán 110</td>
        <td>1200 Kč</td>
        <td>1080 Kč</td>
        <td> 960 Kč</td>
        <td></td>
      </tr>
      <tr>
        <td>Apartmán 111</td>
        <td>2400 Kč</td>
        <td>2160 Kč</td>
        <td>1920 Kč</td>
        <td>2040 Kč</td>
      </tr>
      <tr>
        <td>Apartmán 112</td>
        <td>2000 Kč </td>
        <td>1800 Kč </td>
        <td>1600 Kč </td>
        <td>1700 Kč </td>
      </tr>
      <tr>
        <td>Spodní patro</td>
        <td>2800 Kč</td>
        <td>2520 Kč</td>
        <td>2240 Kč</td>
        <td></td>
      </tr>
      <tr>
        <td>Celý penzion</td>
        <td>7200 Kč</td>
        <td>6480 Kč</td>
        <td>5760 Kč</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="col-sm-6">
  <%= form_for(@order) do |o| %>
    <h4> Kalkulačka pro výpočet </h4>
    <div class="form-group">
      <%= o.label :from_date, 'Od data' %>
      <%= o.text_field :from_date, class: 'datepicker form-control', type: "text" , :required => true %>
    </div>
    <div class="form-group">
      <%= o.label :to_date, 'Do data' %>
      <%= o.text_field :to_date, class: 'datepicker form-control', type: "text" , :required => true %>
    </div>
    <div class="form-group">
      <%= o.label :room_id, 'Typ apartmánu' %>
      <%= o.select :room_id, Room::TYPE_ROOMS,{}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= o.hidden_field :price , class: 'order_price_new' %>
      <%= o.label :price, 'Výsledná cena' %>
      <input class="form-control" id="price_show" type="text" placeholder="Výsledná cena zde" disabled>
    </div>
    <div class="form-group">
      <p> Při objednávce do 3osob na 1 - 5 dnů sleva 15%. Platí pro apartmány 109, 111, 112, cena se nezobrazuje na kalkulačce pro výpočet. </p>
    </div>
    <div class="form-group">
      <p> V ceně není uveden obecní poplatek. </p>
    </div>
     <div class="form-group">
      <p>Po vytvoření objednávky požadujeme zálohu 50%. </p>
    </div>
    <% end %>

  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        startDate: 'd'
    });
  });
</script>
