<%= form_for(@order) do |o| %>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4> Nová objednávka </h4>
    </div>
    <div class="panel-body">
      <div class='col-sm-6'>
      <% if current_user.admin? %>
            <div class="form-group">
                <p> Stav </p>
                <%= o.select :status ,Order::TYPE_STATUS,{}, {class: 'form-control'} %>
            </div>
        <% end %>
        <div class="form-group">
            <p> Od data </p>
            <%= o.text_field :from_date, class: 'datepicker form-control', type: "text" , :required => true %>
        </div>
        <div class="form-group">
            <p> Do data </p>
            <%= o.text_field :to_date, class: 'datepicker form-control', type: "text" , :required => true %>
        </div>
        <div class="form-group">
            <p> Typ apartmánu </p>
            <%= o.select :room_id, Room::TYPE_ROOMS,{}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
            <p> Výsledná cena </p>
            <%= o.text_field :price, class: 'form-control'%>
        </div>
        </div>
      <div class='col-sm-6'>
        <div class="form-group">
            <p> Email </p>
            <%= text_field_tag 'user[email]' ,@user.email ,class: 'form-control', type: 'email',  :required => true %>
        </div>
        <div class="form-group">
            <p> Jméno </p>
            <%= text_field_tag 'user[jmeno]' ,@user.jmeno ,class: 'form-control', type: "text" , :required => true %>
        </div>
        <div class="form-group">
            <p> Přijmení </p>
            <%= text_field_tag 'user[prijmeni]' ,@user.prijmeni ,class: 'form-control', type: "text" , :required => true %>
        </div>
         <div class="form-group">
            <p> Telefon </p>
            <%= text_field_tag 'user[address]' ,@user.address ,class: 'form-control', type: "tel" , :required => true %>
        </div>
        <div class="form-group">
            <p> Adresa </p>
            <%= text_field_tag 'user[address]' ,@user.address ,class: 'form-control', type: "text" , :required => true %>
        </div>
        </div>
        <div id="success"></div>
        <div class="form-group">
            <%= o.submit 'Uložit objednávku' , class:"btn btn-primary"%>
        </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        startDate: '-3d'
    });
  });
</script>


<br>
