<%= render :partial => "welcome/container_header",:locals => {:nazev => 'Přehled objednávek'} -%>
<%= link_to "Nová objednávka", new_order_path, id: "new_record", class:"btn btn-primary"%>
<table  class="table">
<thead>
  <tr>
    <th> Číslo obědnávky </th>
    <th> Od data </th>
    <th> Do data </th>
    <th> Typ pokoje </th>
    <th> Cena </th>
    <th> Stav </th>
  </tr>
  </thead>
  <tbody>
   <% @orders.each do |o|  %>
    <tr>
      <% if current_user.admin? %>
        <td><%=link_to o.id, edit_order_path(o.id) %></td>
      <% else %>
        <td><%= o.id %></td>
      <% end %>
      <td><%= o.from_date %></td>
      <td><%= o.to_date%></td>
      <td><%= rooms_name(o.room.typ) %></td> 
      <td><%= o.price %></td> 
      <td><%= order_status(o.status) %></td> 
      <td><%= link_to 'smazat', o, method: :delete, data: { confirm: 'Jste si jistí?' } if current_user.admin? %></td>
    </tr>
  <% end unless @orders.nil? %>
  </tbody>
</table>

